# *NEVER* check in this file to a repo if it has creds in it
# source from an env variable.
aws_access_key = "${env.AWS_ACCESS_KEY}"
aws_secret_key = "${env.AWS_SECRET_KEY}"

# set the region for the endpoints to be created
aws_region = "us-west-2"

tag_Owner = "teamname@example.com"

# Set to the VPC for the region
account_vpc = "vpc-12345678"

# the host key is not created by this config, hence should already exist
host_key_name = "host-key-name"

# This should be the path to the private key that allows you to connect
# i.e. the paired private key for host_key_name above
private_key_path = "~/.ssh/host-key-name.pem"

# What instance size do you want these to be (might be restricted by the AMI)
instance_size = "c3.large"

# SSL cert for ELB
elb_ssl_cert = "arn:aws:iam::123456789012:server-certificate/gitlab-team.example.com"

# Subnet to put the host in
# Multiple subnets would just require a comma separated list and a split in main.tf
host_subnet = "subnet-12345678"

# Subnet to put the ELB
# Multiple subnets would just require a comma separated list and a split in main.tf
elb_subnet = "subnet-87654321"

# Name for S3 bucket (for logs)
bucket_name = "gitlab-example-com"

# Whitelist for the ELB, should you require one
elb_whitelist = "198.51.100.0/24,203.0.113.0/24"
